/* Colori principali */
/* Rosso: rgb(196,19,41); */
/* bianco: white; */
/* verde:rgb(0,108,103); */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITIES */
.clearfix{
  content:"";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

/* /UTILITIES */

header, footer{
  width: 100%;
  height: 100px;
  background-color: black;
  padding: 15px;
}

.container-sito{
  width: 100%;
  margin: 0 auto;
}
.main-container{
  width: 100%;
  height: calc(100vh - 200px);
  background-color: black;
  padding: 0px 15px;
}
.colonna-sx, .colonna-cen, .colonna-dx{
  height: 100%;
  box-shadow: 0px 0px 30px rgba(255,255,255,0.5);
  border-radius: 30px;
}

.colonna-sx, .colonna-dx{
  width: 40%;
  background-color: lightgrey;

}

.colonna-cen{
  position: relative;
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: red;
  z-index: 2;
}

body{
  background-color: white;
}


header h1{
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

h2{
  margin-bottom: 15px;
}

footer{
  color: white;
}


/* COLONNA SINISTRA e DESTRA*/
.colonna-sx .content,
.colonna-dx .content{
  height: 100%;
  padding: 15px;
}
.player-1-flex,
.player-2-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;


}

.player-1-flex .box-utente,
.player-2-flex .box-utente{
  width: 100%;
  height: 20%;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color:white;
  font-size: 32px;
  border-radius: 30px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.player-1-flex .box-utente img,
.player-2-flex .box-utente img{
  max-width: 100px;

}

.player-1-flex .box-dado,
.player-2-flex .box-dado{
  /* width: 100%; */
  height: 10%;
  font-size: 32px;
  color: white;
  text-shadow: 0px 0px 4px black;


}

.player-1-flex .box-dado .dado,
.player-2-flex .box-dado .dado{
  width: 200px;

  /* background-color: white;
  border: 1px solid black; */
  border-radius: 4px;
}

#player1Dado,
#player2Dado{
  display: none;
}

.player-1-flex .box-dado .dado img,
.player-2-flex .box-dado .dado img{
  margin: 15px 0px;
  max-width: 100px;
}

.player-1-flex .box-win,
.player-2-flex .box-win{
  width: 100%;
  height: 10%;
  font-size: 32px;
  color: green;
}

.player-1-flex .box-win #player1WinImg,
.player-2-flex .box-win #player2WinImg{
  max-width: 150px;

}



.player-1-flex .box-counter,
.player-2-flex .box-counter{
  width: 100%;
  height: 10%;
  font-size: 32px;
  opacity: 0%;
}

.player-1-flex .box-buttons button,
.player-2-flex .box-buttons button{
  padding: 15px;
  border-radius: 5px;
  color: red;
  border: 2px solid red;
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}
/* C
/* COLONNA SINISTRA e DESTRA */

/* COLONNA CENTRALE */
.colonna-cen .content{
  height: 100%;
  padding: 15px;
}

.vs-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vs-flex{
  border-radius: 15px;
}
.box-round{
  font-size: 48px;
 }

.vs {
  font-size: 64px;
}

/* /COLONNA CENTRALE */
